[Unit]
Description=Voltage Monitoring Service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/psd/custom_services/undervoltage_protection.py

[Install]
WantedBy=multi-user.target
